<div class="container">
    <div class="text-center center div" id="register">
        <form action="/register" method="POST">
            <div class="new_user">

                <div class="form-group">
                    <input type="email" placeholder="email" name="email">

                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="password">
                </div>

                <div class="form-group">
                    <select name="role" style="width: 100%; height: 40px; border: 1px solid var(--border); font-family: 'Barlow', sans-serif;
                    font-size: 1em; border-radius: .2em; padding: .5em 1em; margin: .5em 0;">
                        <option value=" Operator">Operator</option>
                        <option value=" Analis">Analis</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
</div>