<div class="container">
    <div class="text-center center div" id="register">
        <form action="/register" method="POST">
            <div class="new_user">

                <div class="form-group">
                    <input type="username" placeholder="username" name="username">
                </div>

                <div class="form-group">
                    <input type="email" placeholder="email" name="email">

                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="password">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
</div>